.ler{
    left: 30%;
    top: 37%;
}
.col{
    position: absolute;
    color:grey;
    left: 69%;
    top: 42%;
    font-size: 15px;
}
.size{
    size: 90%;
}
.col1{
    position: absolute;
    color:grey;
    left: 28%;
    top: 45%;
    font-size: 16px;s
}

* {
    margin: 0;
padding: 0;
}
.img{
    background: url("Untitled design 6.12.02 PM.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}
